{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>Password Locker</title>
        {% endif %}
    </head>
    <body>
        {{ v }}
        <h1>index works</h1>
        {{ wtf.quick_form(form) }}
        {%for i in range(0,1) %}
            {{acc[i]}}
            {{mail[i]}}
            {{pword[i]}}
        {% endfor %}
        
    </body>
</html>